---
---

@import "{{ site.theme }}";

#header_wrap .inner {
    padding-top: 10px;
    padding-bottom: 10px;
}

#project_logo_link {
    display: inline-block;
    text-decoration: none;
}

#project_logo {
    height: 50px;
    width: auto;
    max-width: 100%;
    vertical-align: middle;
}

@media (max-width: 768px) {
    #project_logo {
        height: 40px;
    }
}
.inner {
    max-width: 900px;
}

h1 {
    color: #A93A33;
  }

h2 {
    color: #A93A33;
}

h3 {
    color: #A93A33;
}

table, tr, td {
    border-collapse: collapse;
    border-width: 0;
    border: none;
    text-align: center; 
    vertical-align: middle;
}

img {
    border-collapse: collapse;
    border-width: 0;
    box-shadow: none;
}